{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Wait for it
{% endblock %}

{% block content %}
    
    <p id="something_to_hide">This text is only visible for {{ Constants.element_display_time }} seconds after the first time the page is loaded.</p>

    {% next_button %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var element_hiding_time_ms = {{ element_hiding_time|json }} * 1000;
                
        // check if it has to be hidden immediately on page load or if we need to check repeatedly
        var now = new Date();
        if (now.getTime() > element_hiding_time_ms) {
            $('#something_to_hide').hide();
        } else {
            // check every second if current time is larger then end time.
            interval = setInterval(function() {
                var now = new Date();
                if (now.getTime() > element_hiding_time_ms) {
                    $('#something_to_hide').hide();
                    clearInterval(interval);
                }
            }, 1000);
        }
    </script>
{% endblock %}
